<!DOCTYPE html>
<h1>検索結果</h1>

<p>検索画面</p>

地図

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>検索結果</title>
  </head>
  <body>
    <p地図です。</p>

    <div id="map" style="width:1440px; height:700px"></div>

    <script type="text/javascript">
    function initMap() {
      var opts = {
        zoom: 20,
        center: new google.maps.LatLng(35.700088,139.77236420000003)
      };
      var map = new google.maps.Map(document.getElementById("map"), opts);

      var usrmarker = new google.maps.Marker( usrMarkerOptions )
      var usrMarkerOptions = new google.maps.Marker( {
        map: map ,	// 地図
        position: new google.maps.LatLng(35.700088,139.77236420000003) ,	// 位置座標
      } ) ;
    }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?language=ja&key=AIzaSyB3n3YCJPGGDIZ2ybJdls6Xyn_pY2tywUc&callback=initMap">
    </script>
  </body>
</html>
